<h2>All players</h2>

<% if players.any? %>
  <div id="players">
    <% players.each do |player| %>
      <div class="player">
        <h2><%= player.first_name %> <%= player.last_name %></h2>
        <p><%= player.email %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="placeholder">There are no players yet.</p>
<% end %>
